.main {
    text-align: center;
    width: 80vw;
    height: 70vh;
    border: 2px solid black;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
    grid-template-rows: 2fr 22fr;
    grid-gap: 4px;
    padding: 10px;
}

.nodes {
    grid-row: 2/3;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.child {
    margin-left: 4px;
    height: inherit;
    position: relative;
}

.node {
    display: block;
    text-align: left;
    height: inherit;
    list-style-type: none;
    border-left: 2px solid #000;
    margin-left: 3px;
    padding-left: 10px;
    position: relative;
}

.nodes span {
    cursor: pointer;
    margin-bottom: 5px;
}

.node_info {
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.node_info span {
    text-align: left;
}

.node_info span:first-child {
    text-align: center;
    align-self: center;
}

.node_info form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 10fr;
    align-items: flex-end;
}

form button {
    height: 23px;
    width: 100px;
    margin-bottom: 10px;
}

form button:last-child {
    margin-left: 10px;
}

form label {
    align-self: center;
    display: grid;
    grid-template-columns: 50% auto;
}

label input {
    width: max-content;
}

.change {
    flex-direction: column;
    grid-row: 2/3;
    width: 24px;
    display: flex;
}


.change button {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    height: 20px;
    width: 20px;
}

.change button:before, button:after {
    content: "";
    position: absolute;
    background-color: black;
    transition: transform 0.25s ease-out;
}

.change button:first-child:before {
    top: 1px;
    left: 54%;
    width: 2px;
    height: 81%;
    margin-left: -2px;
}

.change button:first-child:after {
    top: 50%;
    left: 1px;
    width: 87%;
    height: 2px;
    margin-top: -2px;
}

.change button:last-child:after {
    top: 50%;
    left: 1px;
    width: 87%;
    height: 2px;
    margin-top: -2px;
}

.change button:disabled:before, button:disabled:after {
    background-color: gray;
}

.change button:disabled {
    cursor: auto;
}

.selected {
    border: 1px solid rgba(7, 102, 245, 0.3);
}

.node {
    user-select: none;
}

.nodes-container {
    height: max-content;
    position: relative;
    padding-left: 10px;
}

.node .child {
    margin-left: 0;
}

.node::before {
    content: '┗';
    color: #000;
    position: absolute;
    top: 0;
    left: -9px;
}

.nodes-container > .node:last-child {
    border-left: 2px solid transparent;
}

.nodes-container .node {
    padding-top: 2px;
}

.child > .node:last-child {
    border-left: 2px solid transparent;
}

.main .change {
    justify-self: center;
}