.main {
    text-align: center;
    width: 80vw;
    height: 70vh;
    border: 1px solid black;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 8fr 1fr 8fr;
    grid-template-rows: 2fr 22fr;
    grid-gap: 4px;
    padding: 10px;
}

.nodes {
    grid-row: 2/3;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.child {
    margin-left: 4px;
    height: inherit;
    position: relative;
}

.node {
    display: block;
    text-align: left;
    height: inherit;
    list-style-type: none;
    margin-left: 1em;
}

.nodes span {
    cursor: pointer;
    margin-bottom: 5px;
}

.node_info {
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.node_info span {
    text-align: left;
}

.node_info span:first-child {
    text-align: center;
}

.node_info form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 10fr;
    align-items: flex-end;
}

form button {
    height: 23px;
    width: 100px;
    margin-bottom: 10px;
}

.change {
    flex-direction: column;
    grid-row: 2/3;
    height: 40px;
    width: 20px;
    display: flex;
    border: 1px solid;
    cursor: pointer;
}

.change span:first-child {
    border-bottom: 1px solid;
}

.selected {
    background: rgba(7, 102, 245, 0.3);
}
.title {

}

.nodes-container {
    height: max-content;
    position: relative;
}
